{% extends 'layout.html' %}

{% block content %}

<h2>
    {% block pagetitle %}
    Trip Detail
    {% endblock %}
</h2>

<p>Name: {{ trip.name }}</p>
<p>Number of Rounds: {{ trip.rounds }}</p>
<p>Team Size: {{ trip.team_size }} </p>

<p>Teams:</p>
{% for team in trip.teams.all %}
<p>{{ forloop.counter }}. {{ team.name }}</p>
{% empty %}
<p>No Teams</p>
{% endfor %}

{% for round in round_list %}
<p><b>ROUND: {{round|add:"1"}}</b></p>
<table class="table table-hover">
  <thead>
      <tr>
        <!-- <th>Matchup #</th> -->
        {% for team in trip.teams.all %}
        <th>{{team.name}}</th>
        {% endfor %}
      </tr>
  </thead>

  <tbody>
      {% for group in groups %}
      {% if group.0.round == round|add:"1" %}
      <tr>
        <td>
          <p>{{group.0.players.first}} and {{group.0.players.last}} </p>
        </td>
        <td>
          <p>{{group.1.players.first}} and {{group.1.players.last}} </p>
        </td>
      </tr>
      {% endif %}
      {% endfor %}
  </tbody>

</table>
{% endfor %}

<a role="button" class="btn btn-danger confirm-delete"
    href="{% url 'golf:trip:delete' trip.pk %}">Delete Trip</a>

{% endblock %}
