{% extends 'layout.html' %}

{% block content %}

{% block pagetitle %}
<h2>Trips</h2>
{% endblock %}

<table class="table table-hover">
    <thead>
        <tr>
          <th>Name</th>
        </tr>
    </thead>

    <tbody>
        {% for trip in trips %}
        <tr>
          <td>
            {{ trip.name }}
          </td>

          <td class="btn-group" align="right">
          <a role="button" class="btn btn-secondary confirm-leave"
            href="{% url "golf:trip:detail" trip.pk %}">Detail</a>
        </tr>
        {% empty %}
        <p>No trips at this time</p>
        {% endfor %}

    </tbody>
</table>

{% endblock %}
