{% extends 'layout.html' %}

{% block content %}

{% block pagetitle %}
<h2>Teams</h2>
{% endblock %}

<table class="table table-hover">
    <thead>
        <tr>
          <th>Name</th>
          <th>Number of Players</th>
        </tr>
    </thead>

    <tbody>
        {% for team in teams %}
        <tr>
          <td>
            {{ team.name }}
          </td>
          <td>
            {{ team.player_set.count }}
          </td>

          <td class="btn-group" align="right">
          <a role="button" class="btn btn-secondary confirm-leave"
            href="{% url "golf:teams:detail" team.pk %}">Detail</a>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a role="button" class="btn btn-primary confirm-leave"
  href="{% url "golf:teams:create" %}">Create Team</a>

{% endblock %}
