{% extends 'layout.html' %}

{% block content %}

{% block pagetitle %}
<h2>Players</h2>
{% endblock %}

<table class="table table-hover">
    <thead>
        <tr>
          <th>Name</th>
        </tr>
    </thead>

    <tbody>
        {% for player in players %}
        <tr>
          <td class="clickable-obj" data-href="{{ player.get_absolute_url }}">
            {{ player.name }}
          </td>

          <td class="btn-group" align="right">
          <a role="button" class="btn btn-secondary confirm-leave"
            href="{% url "golf:player:detail" player.pk %}">Detail</a>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
